# ===============================================
# MongoDB Credentials & Database Setup
# ===============================================
MONGO_PORT=27017
MONGO_USER=root
MONGO_PASS=secret123

APP_DB=engolearn_db
APP_USER=admin
APP_PASSWORD=admin123

# ===============================================
# Mongo Express Web UI Authentication
# ===============================================
ME_PORT=8081
ME_BASIC_USER=admin
ME_BASIC_PASS=admin123